.intro {
  width: 100%;
  height: calc(100lvh - var(--header-height));
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--white);

  & .container {
    height: 100%;
    z-index: 1;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    flex-direction: column;
    color: var(--black);
  }

  &__name {
    font-size: 5rem;
    letter-spacing: 0.5rem;
    margin-bottom: 1.5rem;
  }

  &__job {
    font-size: 2.4rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
  }

  &__description {
    width: 50%;
    font-size: 2rem;
    text-wrap: balance;
    line-clamp: 2;
    margin-bottom: 5rem;
  }

  &__bg {
    font-family: var(--Montserrat-sub);
    font-size: 38rem;
    opacity: 0.075;
    color: var(--black);
    position: absolute;
    width: 120%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    overflow: hidden;
    user-select: none;

    & div:nth-child(1) {
      width: 100%;
      text-align: left;
    }
    & div:nth-child(2) {
      width: 100%;
      text-align: right;
      font-size: 1.5em;
    }
  }
}
