:root {
  --black: #333;
  --main: #cf03be;
  --white: #fffde9;
  --header-height: 80px;
  --Montserrat: 'Montserrat', Arial, sans-serif;
  --Montserrat-sub: 'Montserrat Subrayada', Arial, sans-serif;
}